# Database
DATABASE_URL="postgresql://tokopudidi:tokopudidi@localhost:5432/tokopudidi?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# API
API_PORT=4000
API_BASE_URL="http://localhost:4000"

# JWT
JWT_ACCESS_SECRET="ganti-ini-dengan-string-acak-panjang"
JWT_REFRESH_SECRET="ganti-ini-juga-dengan-string-acak-panjang-lainnya"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"

# Web
NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_APP_NAME="Tokopudidi"

# OTP (mock di dev — print ke console)
OTP_MOCK=true

# Storage
UPLOAD_DIR="./uploads"
S3_ENDPOINT=""
S3_BUCKET="tokopudidi"
S3_ACCESS_KEY=""
S3_SECRET_KEY=""

# App
NODE_ENV=development
APP_TIMEZONE="Asia/Jakarta"

# TestForge (test case management — untuk push test case via REST API)
TESTFORGE_API_URL="https://testforge.emha.space"
TESTFORGE_API_KEY="tf_xxx"
